.banner {
    width: inherit;
    height: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: inherit;
}


.banner #banner-slider > div a img {
    width: 87em;
    height: auto;
}

