.content-field {
    margin-left: 2em;
    width: inherit;
    margin-bottom: 2em;
    background-color: inherit;
}

.content-header {
    width: 85em;
}

.content-body {
    background-color: #ffffff;
    width: 85em;
    padding-bottom: 1em;
}

.category {
    float: left;
    width: 25em;
}

.product-bar {
    float: right;
    width: 55em;
}

.shop-img {
    padding-bottom: 2em;
}

.img-field {
    width: 20em;
    height: 20em;
    margin-bottom: 2em;
    margin-top: 2em;
}
