.header {
    width: inherit;
    background-color: #f1f1f1;
    padding-top: 1em;
    padding-bottom: 1em;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

#Logo {
    margin-left: 2em;
}

