{% extends 'base.html.twig' %}

{% block body %}
    {% if(app.user) %}
        Hello {{ app.user.username }}
    {% else %}
        Hello
    {% endif %}
    <a href="{{ path('user_logout') }}">Logout</a>
{% endblock %}